.block {
    grid-area: content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    overflow: scroll;
}

.alert {
    height: 60px;
}